In [1]:
#pip install psycopg2-binary

In [6]:
#from config import password
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime as dt
#from config import password

### Store CSV into DataFrame

In [7]:
csv_file = "../Resources/Appointments.csv"
appointments_df = pd.read_csv(csv_file)
appointments_df.head(5)

,Key,Administration,Party,Department,Name,LastName,ServiceStart,ServiceEnd,DeptScandalFlag,ScandalFlag,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,1,Washington,"None, Federalist",President,George Washington,Washington,4/30/1789,3/3/1797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Washington,"None, Federalist",Vice President,John Adams,Adams,4/30/1789,3/3/1797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Washington,"None, Federalist",Secretary of State,John Jay,Jay,4/30/1789,9/26/1789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Washington,"None, Federalist",Secretary of State,Thomas Jefferson,Jefferson,9/26/1789,12/2/1794,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Washington,"None, Federalist",Secretary of State,Edmund Randolph,Randolph,12/2/1794,8/20/1795,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create new data with select columns

In [9]:
appointments_df = appointments_df[['Administration', 'ServiceStart', 'ServiceEnd', 'Department', 'Name' ]].copy()
appointments_df.head()

,Administration,ServiceStart,ServiceEnd,Department,Name
0,Washington,4/30/1789,3/3/1797,President,George Washington
1,Washington,4/30/1789,3/3/1797,Vice President,John Adams
2,Washington,4/30/1789,9/26/1789,Secretary of State,John Jay
3,Washington,9/26/1789,12/2/1794,Secretary of State,Thomas Jefferson
4,Washington,12/2/1794,8/20/1795,Secretary of State,Edmund Randolph

### Store JSON data into a DataFrame

In [ ]:
json_file = "../Resources/customer_location.json"
customer_location_df = pd.read_json(json_file)
customer_location_df.head()

### Clean DataFrame

In [ ]:
new_customer_location_df = customer_location_df[["id", "address", "us_state"]].copy()
new_customer_location_df.head()

### Connect to local database

In [ ]:
#data is now ready to save into database (like Postgres)
#code below connects to SQL ??
#need to install library to complete the code below
#need  to create customer_db in Postgres first or will get error - IMPORTANT
#should save a password in a config file to  use in code below
rds_connection_string = f'postgres:ny$$A80$@localhost:5432/customer_db'
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
#if don't set index=False, will create a column for the index??

new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [ ]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [ ]:
# _sql_query is a function
pd.read_sql_query('select * from customer_name', con=engine).head()

### Confirm data has been added by querying the customer_location table

In [ ]:
pd.read_sql_query('select * from customer_location', con=engine).head()