In [1]:
#pip install psycopg2-binary

In [2]:
#from config import password
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime as dt
#from config import password

### Store CSV into DataFrame

In [3]:
csv_file = "../Resources/Appointments.csv"
appointments_df = pd.read_csv(csv_file)
appointments_df.head()

,Key,Administration,Party,Department,Name,LastName,ServiceStart,ServiceEnd,DeptScandalFlag,ScandalFlag,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,1,Washington,"None, Federalist",President,George Washington,Washington,4/30/1789,3/3/1797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Washington,"None, Federalist",Vice President,John Adams,Adams,4/30/1789,3/3/1797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Washington,"None, Federalist",Secretary of State,John Jay,Jay,4/30/1789,9/26/1789,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Washington,"None, Federalist",Secretary of State,Thomas Jefferson,Jefferson,9/26/1789,12/2/1794,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Washington,"None, Federalist",Secretary of State,Edmund Randolph,Randolph,12/2/1794,8/20/1795,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Create new dataframe with select columns

In [4]:
# Create a filtered dataframe from specific columns
appointments_df = appointments_df[['Key','Administration', 'ServiceStart', 'ServiceEnd', 'Department', 'Name' ]].copy()
appointments_df.head()

,Key,Administration,ServiceStart,ServiceEnd,Department,Name
0,1,Washington,4/30/1789,3/3/1797,President,George Washington
1,2,Washington,4/30/1789,3/3/1797,Vice President,John Adams
2,3,Washington,4/30/1789,9/26/1789,Secretary of State,John Jay
3,4,Washington,9/26/1789,12/2/1794,Secretary of State,Thomas Jefferson
4,5,Washington,12/2/1794,8/20/1795,Secretary of State,Edmund Randolph

In [11]:
#Filter data so only Obama, Trump, and Biden administrations are included in the dataframe.
recent_appointments_df = appointments_df.loc[(appointments_df["Administration"] == "Obama") | (appointments_df["Administration"] == "Trump") | (appointments_df["Administration"] =="Biden")]
recent_appointments_df.head()

,Key,Administration,ServiceStart,ServiceEnd,Department,Name
860,861,Obama,1/20/2009,1/20/2017,President,Barack Obama
861,862,Obama,1/20/2009,1/20/2017,Vice President,Joe Biden
862,863,Obama,1/21/2009,2/1/2013,Secretary of State,Hillary Clinton
863,864,Obama,2/1/2013,1/20/2017,Secretary of State,John Kerry
864,865,Obama,1/26/2009,1/25/2013,Secretary of Treasury,Tim Geithner

In [ ]:
#df.loc[(df['Salary_in_1000']>=100) & (df['Age']< 60) & (df['FT_Team'].str.startswith('S')),['Name','FT_Team']]

In [14]:
#Identify incomplete rows
recent_appointments_df.count()

Key               75
Administration    75
ServiceStart      75
ServiceEnd        60
Department        75
Name              75
dtype: int64

In [15]:
# Rename the column headers
appointments_transformed = recent_appointments_df.rename(columns={"Administration": "President",
                                                          "ServiceStart": "Service Start",
                                                          "ServiceEnd": "Service End",
                                                          "Department": "Cabinet Appointment",
                                                          "Name" : "Appointee Name"})  
                                                           
appointments_transformed

,Key,President,Service Start,Service End,Cabinet Appointment,Appointee Name
860,861,Obama,1/20/2009,1/20/2017,President,Barack Obama
861,862,Obama,1/20/2009,1/20/2017,Vice President,Joe Biden
862,863,Obama,1/21/2009,2/1/2013,Secretary of State,Hillary Clinton
863,864,Obama,2/1/2013,1/20/2017,Secretary of State,John Kerry
864,865,Obama,1/26/2009,1/25/2013,Secretary of Treasury,Tim Geithner
...,...,...,...,...,...,...
930,931,Trump,1/20/2017,7/31/2017,Secretary of Homeland Security,John F. Kelly
931,932,Trump,7/31/2017,12/6/2017,Secretary of Homeland Security,Elaine Duke
932,933,Trump,12/6/2017,4/10/2019,Secretary of Homeland Security,Kirstjen Nielsen
933,934,Trump,4/11/2019,11/13/2019,Secretary of Homeland Security,Kevin McAleenan
934,935,Trump,11/13/2019,NaN,Secretary of Homeland Security,Chad Wolf

In [21]:
# Clean the data by removing President and Vice President positions
#appointments_transformed_df = appointments_transformed.loc[(appointments_transformed["Cabinet Appointment"] != "President") | (appointments_transformed["Cabinet Appointment"] != "Vice President")]
#appointments_transformed_df.head()

In [ ]:
### Connect to local database

###data is now ready to save into database (like Postgres)
###code below connects to SQL ??
#need to install library to complete the code below
#need  to create customer_db in Postgres first or will get error - IMPORTANT
#should save a password in a config file to  use in code below
#rds_connection_string = f'postgres:ny$$A80$@localhost:5432/customer_db'
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
### Check for tables

#engine.table_names()

In [ ]:
### Use pandas to load csv converted DataFrame into database

###if don't set index=False, will create a column for the index??

#new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

In [ ]:
### Use pandas to load json converted DataFrame into database

#new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
#* NOTE: can also check using pgAdmin

# _sql_query is a function
#pd.read_sql_query('select * from customer_name', con=engine).head()